files:
  "/etc/nginx/conf.d/react_app.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        root /var/app/current;
        index index.html;
        location / {
          try_files $uri $uri/ /index.html;
        }
      }